# This file must be named 'settings/clusterconfig' relative to application domain's base path.
# All lines are optional and can be omitted to use default values.

EnableLocalSettings = true

EnableClusterSettings = true

Zone = default

LocalFolder = settings

ServerDNS = clusterconfig

ServerPort = 9000

UpdatePeriod = 00:00:20

RequestTimeout = 00:00:30
